/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@font-face {  font-family: Komika; src: url(komika_text/KOMTXT__.ttf) format("truetype"); }

body {
  padding-bottom: 40px;
  background-color: #F2F2EB;
  font-family: 'Alegreya Sans SC', sans-serif;
}
html, body. div{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

.pull-down{
  margin:80px 0 0 75px;
}

.header-left{
  margin-left: 10px;
}

.main-logo{
  width: 11%;
  height:11%;
}

/*.join-now, .sign-in{*/
/*color: #BF3641;*/
/*font-size: 15px;*/
/*margin:20px 0 0 25%;*/
/*}*/

.join-now, .sign-in{
  color: #2A3740;
  font-size: 13px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
}

.header{
  color: #28B799;
  margin-bottom: 40px;
}
.search-input{
  margin-top: -14px;
  z-index: 900;
}

.myCarousel{
  margin-top: 424px;
  z-index: -1;
}
.About_Us{
  border: 1px solid black;
  height: 340px;
  border-radius: 20px;
  background-color: white;
  color: black;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  margin-top: 100px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
  background-color: #141E26;
  color: white ;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 424px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 68vw;
  margin-bottom: 60px;
  margin-top:55px;
  margin: 0 auto;
  overflow: hidden;
  background: #F2F2EB;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
.container-caption{
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 33%;
  height: 78%;
  display: inline-block;
  margin-left: 8%;
  margin-top: 0;
  border: 3px solid white;
  background: white;
  border-radius: 25px;
  padding: 0 25px;
}
.container-caption h1{
  font-size: 34px;
}
.container-caption p{
  font-size: 14px;
}
.main-carousel-image{
  width: 50%;
  float: right;
  margin-right: 61px;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #F2F2EB;
}
.carousel-indicators{
  bottom: 27px;
  position: absolute;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-inner{
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 156px;
  overflow: hidden;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.first-slide, .second-slide, .third-slide{
  width: 52%;
  height: 40%;
}

.carousel-control.left{
  background-image: none;
  height: 387px;
  margin-left: 0;
  width: 42px;
}

.carousel-control.right{
  background-image: none;
  height: 387px;
  /*margin-right: 360px;*/
  /*width: 42px;*/
}
#About_Us{
  color: #101010;
  font-family: 'Alegreya Sans SC', sans-serif;
  float: right;
  border-radius: 20px;
  background-size: 100px;
  background-color: white;
/*  position: absolute;
  left: 68%;
  top: 24%;*/
  width: 300px;
  height: 170px;
  margin-top: -35px;
  margin-right: 135px;
  z-index: +1;
  text-align: center;
  margin-bottom: 10px;
}
.headerAbout{
  font-size: 24px;
  margin-top: 10px;
  font-weight: 600;

}
.smallerHeaderAbout{
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}
.smallestHeaderAbout{
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  margin-bottom: 5px;
}
.aboutPara{
  font-size: 14px;
  margin: 0;
}

#EmporiaFeed{
  color: #101010;
  font-family: 'Alegreya Sans SC', sans-serif;
  float: right;
  border-radius: 20px;
  margin-right: 135px;
  background-size: 100px;
  background-color: white;
/*  position: absolute;
  left: 68%;
  top: 50%;*/
  width: 300px;
/*  margin-top: -35px;*/
  height: 255px;
  z-index: +1;
  text-align: center;
  margin-bottom: 10px;
}

.headerFeed{
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.trending-image{
  margin: 1% 0% 1% 40%;
}
.img-container{
  height: 40%;
}

.container.marketing{
  margin-top: 75px;
}

/* Center align the text within the three columns below the carousel */
.row-margin-bottom{
  margin-bottom: 20px;
}
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


.sectioned-splitter{
  border: 1px solid black;
  height: 340px;
  border-radius: 20px;
  background-color: #2A3740;
  color: white;
}

.sectioned-splitter .form-group{
  margin-bottom: 5px;
}
textarea.form-control{
  height: 163px;
}
.first-split{
  margin: 0 60px;
}

.artist-image{
  height: 40%;
  width: 100%;
}

.artist-bio h3{
  margin-top: 0;
}

/* Featurettes
------------------------- */
.mainHeader{
  width: 20%;
  margin: 24px 20px -6px 580px;
  z-index: -1;
}
.feature-header{
  margin: 1% 0 2% 38%;
}
.headerImageMain{
  width: 30%;
  margin-left: 25%;
}
.headerImage{
  width: 22%;
}
.full-width{
  width: 100%;
}
.first-feature{
  background-color: #BF3641;
  margin-left: calc(50% - 50vw);
  width: 100vw;
  height: 385px;
}
.second-feature{
  margin-left: calc(50% - 50vw);
  width: 100vw;
}
.featurette-divider {
  margin: 20px 30; /* Space out the Bootstrap <hr> more */
  height: 0px;
  margin-top: -20px;
  margin-bottom: 40px;
  border: 0;
  border-top: 0px solid #eee;
}
.featurette-heading-emporia{
  font-size: 20px;
  color: white;
  margin-top: 1px;
  margin-bottom: 10px;

}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;

}
.text-white{
  font-size: 12px;
  color: white;
}

.EmporiaTabs{
  width: 88%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-left:  86px;
}
.nav-tabs{

}
.nav-tabs>li>a{
  background-color: #141E26;
  color: white;
}

.tab-content{
  background-color: #BF3641;
  padding: 25px 0 10px 20px;
  border-radius: 0 20px 20px 20px;
}

.tabCover{
  width: 15.5%;
  margin-right:10px;
}
.bioPara{
  margin: 0;
}



.Chat {
  margin: 20px 30px;
  height: 0px;
  /*margin-top: 20px;*/
  /*margin-bottom: 10px;*/
  border: 0;
  border-top: 0px solid #eee;
}
.Chat_Ribbon {
  width: 100%;
}
.Chat_container {
  background-color: #2A3740;
  margin-left: 60px;
  width: 1265px;
  height: 180px;
  border-radius: 20px;
}
.Chat_Intro h1{
  color: white;
  padding-left: 80px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500px;
}
.Chat_Groups h1{
  color: #101010;
  padding-left: 80px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background: white url("#");
  font-size: 30px;
  margin-right:20px;
}
.Chat_Groups h2 {
  color: #101010;
  padding-left: 80px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background: white url("#");
  font-size: 30px;
  margin-right:20px;
}
.Chat_Groups h3 {
  color: #101010;
  padding-left: 80px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background: white url("#");
  font-size: 30px;
  margin-right:20px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 100%;
  width: 95%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F2F2EB;
}

.container:hover .overlay {
  opacity: 0.75;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Footer
------------------------- */
.footer {
  margin-top: 10px
}



@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 100px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: white;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  max-width: 85%;
  height: auto;
}

.footer {
  margin-top: 10px;
}

